Source: python-azure-nspkg
Section: python
Priority: optional
Maintainer: Antoine R. Dumont <antoine.romain.dumont@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.0
Homepage: https://github.com/Azure/azure-storage-sdk

Package: python-azure-nspkg
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Description: Microsoft Azure Namespace Package
 This is the Python 2 version of the package.

Package: python3-azure-nspkg
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Microsoft Azure Namespace Package
 This is the Python 3 version of the package.
